body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Header */
.header {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  padding: 0px 25px;
  flex: 1;
}

.top {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.bottom {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  row-gap: 50px;
  padding: 100px 0px;
}

.bottom .left {
  width: 400px;
}

.bottom .right img {
  max-width: 100%;
  height: auto;
  max-height: 250px;
  object-fit: scale-down;
  flex: 1 0 230px;
}

.top .links {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 18px;
  gap: 20px;
}

.top .logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
}

.top a {
  text-decoration: none;
  color: #e6e7eb;
}

.bottom .left .main-text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.bottom .left .filler {
  font-size: 18px;
  color: #e6e7eb;
}

button {
  color: white;
  background-color: #3882f6;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 32px;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
}

/* Body */
.random .head {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin: 50px;
}

.random .boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  margin-bottom: 100px;
}

.random .boxes img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

.random .boxes .text {
  width: 150px;
  text-align: center;
}

.quote {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  padding: 100px 25px;
  margin-bottom: 100px;
}

.quote .text {
  max-width: 770px;
  flex-grow: 0;
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
  color: #1f2937;
  align-self: center;
}

.quote .text .author {
  font-weight: 900;
  color: black;
  font-style: normal;
  font-size: 20px;
  text-align: right;
  padding-right: 30px;
}

.action {
  height: 150px;
  margin: auto;
  /* padding: 50px 25px; */
  max-width: 1000px;
  background-color: #3882f6;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  gap: 25px;
  padding: 0px 25px;
}

.action .head {
  color: #f9faf8;
  font-size: 20px;
  font-weight: 900;
  margin-top: 55px;
}

.action .sub-text {
  color: #e5e7eb;
  margin-bottom: 55px;
}

.action > button {
  border-color: white;
  border-style: solid;
  border-width: thin;
  margin: 55px 0px;
  flex-shrink: 0;
}

/* Footer */
.footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e6e7eb;
  background-color: #1f2937;
  margin-top: 100px;
}
